$mitel-blue-color: #15325f;

// adjust the sidebar background
$sidebar-color: $mitel-blue-color;

/*
.site-header {
    background-color: $body-background-color;
}*/

.menu-button {
    color: white !important;
}

.nav-list a {
    color: white !important;
    text-decoration: none;
}

.nav-list-link.active {
    background-image: none !important;
}

.nav-list-item {
    background-image: none !important;
}

// $body-background-color: $grey-dk-300;

//$border-color: $grey-dk-200;

//$body-text-color: $grey-lt-300;
//$body-heading-color: $grey-lt-000;
//$nav-child-link-color: $grey-dk-000;
//$search-result-preview-color: $grey-dk-000;

//$link-color: $blue-000;
//$btn-primary-color: $blue-200;
//$base-button-color: $grey-dk-250;

//$code-background-color: $grey-dk-250;
//$search-background-color: $grey-dk-250;
//$table-background-color: $grey-dk-250;
